.header {
  background-color: black;
  width: 100%;
}

.header h1 {
  background-color: white;
}

.header__logo {
  display: none;
}

#content .column {
  background-image: url("images/frankenstein.jpg");
}

#block-block-1 {
  text-align: center;
}
