.header {
  background-color: black;
  width: 100%;
}

/*@font-face{
  font-family: Green Fuz;
  src: url('Green-Fuz/green_fuz.otf');
}*/

.header h1 {
  font-family: Helvetica;
  background-color: white;
}

.header__logo {
  display: none;
}

/*#content .column {
  background-image: url("images/frankenstein.jpg");
}*/

.region .region-mine {
  padding-top: 10%;
}

#block-block-4 {
  text-align: center;
  /*padding-top: 20%;*/
}

#block-block-4 .block-title {
  padding-bottom: 10%;
  margin-bottom: 10%;
}
